body{
font-family: 'Josefin Slab', serif;
}

section{
		float: left;
		padding-top: 50px;
		padding-bottom: 100px;
		width: 100%;
		padding-left:0;
		padding-right:0;
}

#icon-wrapper{
	width:100%;
	float:left;
	height:300px;
}

.icons {
	width:25%;
	float:left;
	position:relative;
}
.icons2 {
	width:25%;
	float:left;
	position:relative;
	margin-left:25%;
}
.icons3 {
	width:25%;
	float:left;
	position:relative;
	margin-left:50%;
}
.icons4 {
	width:25%;
	float:left;
	position:relative;
	margin-left:75%;
}

.icon-slide-container{
	height:300px;
	overflow:hidden;
	text-align: left;
	position: absolute;
	float: left;
	width: 300px;
	left: 50%;
	margin-left: -150px;
}

.slide-icon{
  width:300px;
  height:auto;
  position:absolute;
  margin-top:-300px;
  -webkit-transition:.4s ease;
  -moz-transition:.4s ease;
  -ms-transition:.4s ease;
  -o-transition:.4s ease;
  transition:.4 ease;
}

.slide-icon:hover{
  position:absolute;
  margin-top:0;
}

@media only screen and (max-width: 1300px) {
  #icon-wrapper{
		width:100%;
		float:left;
		height:170px;
	}
  .icon-slide-container {
		height: 200px;
		overflow: hidden;
		text-align: left;
		position: absolute;
		float: left;
		width: 200px;
		left: 50%;
		margin-left: -100px;
	}
  .slide-icon {
		width: 200px;
		height: auto;
		position: absolute;
		margin-top: -200px;
	}
}

@media only screen and (max-width: 1000px) {
  #home-social-container{
		margin-right: 0;
		margin-left: 0;
		width: 100%;
		padding: 0;
		float: left;
		left: 0;
	}
}

@media only screen and (max-width: 840px) {
  #icon-wrapper{
		width:100%;
		float:left;
		height:650px;
	}

	.icon-slide-container {
		height: 300px;
		overflow: hidden;
		text-align: left;
		position: absolute;
		float: left;
		width: 300px;
		left: 50%;
		margin-left: -150px;
	}

	.slide-icon {
		width: 300px;
		height: auto;
		position: absolute;
		margin-top: -300px;
	}
	.icons {
		width: 50%;
		float: left;
		position: relative;
	}
	.icons2 {
		width: 50%;
		float: left;
		position: relative;
		margin-left: 50%;
	}
	.icons3 {
		width: 50%;
		float: left;
		position: relative;
		margin-left: 0%;
		margin-top: 350px;
	}
	.icons4 {
		width: 50%;
		float: left;
		position: relative;
		margin-left: 50%;
	}
}

@media only screen and (max-width: 650px) {
	#icon-wrapper {
		height: 400px;
	}
	#section{
		width: 90%;
		padding-left:5%;
		padding-right:5%;
	}
	.slide-icon {
		width: 200px;
		height: auto;
		position: absolute;
		margin-top: -200px;
	}
	.icon-slide-container {
		height: 200px;
		width: 200px;
		left: 50%;
		margin-left: -100px;
	}
	.icons3 {
		width: 50%;
		position: relative;
		margin-left: 0%;
		margin-top: 230px;
	}
}

@media only screen and (max-width: 570px) {
	#icon-wrapper {
		height: 300px;
	}
	.slide-icon {
		width: 150px;
		height: auto;
		position: absolute;
		margin-top: -150px;
	}
	.icon-slide-container {
		height: 150px;
		width: 150px;
		left: 50%;
		margin-left: -75px;
	}
	.icons3 {
		width: 50%;
		float: left;
		margin-left: 0%;
		margin-top: 190px;
	}
}
#map {
  height: 100px;
  width: 100%;
}

h1,h2,h3,h4,h5,p{
  font-family:  'Poiret One', cursive;
  color:black;
}

h1{


  font-size:1.8em;
  line-height:1.1em;
  font-weight:700;
}

body{
  height:100vh;
  overflow:hidden;
}

#main{
  display:inline-block;
  text-align:center;
  position:relative;
  width:100vw;
  height:100%;
  max-height:100vh;
  overflow:hidden;
}

#photos{
  display:inline-block;
  float:left;
  height:100%;
  width:45%;
  background-image: url('https://images.unsplash.com/photo-1449177009399-be6867ef0505?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=8110fa2a9b0c72c57fa25cf1079953c4');
  background-size:cover;
  background-position:center;
  display:flex;
  align-items:center;
  justify-content:center;
  position:relative;
}

.inner-outline{
  width:85%;
  height:85%;
  border: 10px solid white;
}
.title{
  margin: auto;
  position:absolute;
  top:85%;
  left:0; right:0;
}

.title h1{
  color:white;
  letter-spacing:.6em;
}

#text{
  display:inline-block;
  text-align:left;
  float:left;
  width:55%;
  height:100%;
  overflow:scroll;
}

#text-navigation{
  width:50%;
  right:0;
  bottom:0;
  height:70px;
  position:absolute;
  bottom:0;
  background-color:white;
  -webkit-box-shadow: 0px -18px 32px -21px rgba(171,171,171,1);
-moz-box-shadow: 0px -18px 32px -21px rgba(171,171,171,1);
box-shadow: 0px -18px 32px -21px rgba(171,171,171,1);
}

#text-content{
  padding:60px 130px;
  text-align:justify;
}

#text-content h1{
  margin:0 0 30px;
}

#text-content p{
  color:grey;
  font-size:.9em;
  line-height:1.4em;
}

#text-content .text-emphasis{
  font-style:italic;
  margin:40px 0;
  font-size: 1.1em;
  color:#0a0a0a;
}

.text-title{
  text-align:center;
  font-family:'Raleway';
  font-weight:800;
  letter-spacing:.25em;
  line-height:1.7em;
  font-size:1em;
  text-transform:uppercase;
  text-align:center;
}

#text-content hr{
  width:20%;
  margin: 0 auto 30px;
  border:2px solid black;
  color:black;
}

@media (max-width:499px){
  #main{
    overflow:scroll;
  }
  #photos{
    width:100%;
  }

  #text{
    height:auto;
    width:100%;
    overflow:inherit;
  }
  #text-content{
    padding:60px 40px;
  }
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.newtitle {
	font-size: 70px;
	color: #fc9827;
	font-stretch: expanded;

}
.aboutOrange {
	height: 90px;
	width: 70px;
}
.companyImage {
	height: 100px;
	width: 150px
}
.galFormStyle {
	display: flex;
	flex-direction: column;

}
.form-group {
	padding: 10px
}
.form-label {
	padding: 10px
}

.graduateData {
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
}
.content-104 .title{
	font-size:45px;
	text-shadow:0px 2px 3px #111;
	text-transform: uppercase;
}
.content-104 p{
	font-size:22px;
	letter-spacing: 6px;
}
.back-image{
	background:#FFFC12 url(https://static7.depositphotos.com/1008939/726/i/950/depositphotos_7260594-different-smiling-people.jpg) repeat scroll top left;
	text-align:center;
	color:#fff;
}
.back-imageCompanies {

	background:#FFFC12 url(http://www.aiaflatop100.org/Peoples-Choice-Mosaic.png) repeat scroll top left;
	text-align:center;
	color:#fff;
}
.back-animation {
  -webkit-animation: AnimateVertical 2500s linear infinite;
  -moz-animation: AnimateVertical 2500s linear infinite;
  -o-animation: AnimateVertical 2500s linear infinite;
  animation: AnimateVertical 2500s linear infinite;
  background-repeat: repeat-y !important;
}
.back-pro{
	background-position: 0px 0px;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

@-webkit-keyframes AnimateVertical {
	0% { background-position: 0px 0px; }
  	100% { background-position: 0px -100000px; }
}
@-moz-keyframes AnimateVertical {
    0% { background-position: 0px 0px; }
  	100% { background-position: 0px -100000px; }
}
@-o-keyframes AnimateVertical {
    0% { background-position: 0px 0px; }
  	100% { background-position: 0px -100000px; }
}
@keyframes AnimateVertical {
	0% { background-position: 0px 0px; }
  	100% { background-position: 0px -100000px; }
}
.damnyouReact {
	background:rgba(0,0,0,.7);
	padding:120px 0;
	height: 50px;
	display: flex;
	justify-content: center;
	align-content: center;
}
.newRow{
	margin-bottom: 50px;
}

.newParagraph {
	color: #fff;
}
.lineChartClass {
	height: 400px;
	width: 400px;
}

.lineChartClassPlacement {
	width:400px;
	float: left;
}
.pieChartPlacement {
	margin-left: 420px;
}
